body {
  background: white;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
nav {
  position: relative;
  z-index: 10;
  background: rgba(50, 50, 120, 0.4);
}
nav .navigatia {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
nav .navigatia .menu .menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: fixed;
  top: 80px;
  right: 5px;
  cursor: pointer;
}
nav .navigatia .menu .menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #e42c35;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
nav .navigatia .menu .menu__icon span:nth-child(1) {
  top: 0;
}
nav .navigatia .menu .menu__icon span:nth-child(2),
nav .navigatia .menu .menu__icon span:nth-child(3) {
  top: 13px;
}
nav .navigatia .menu .menu__icon span:nth-child(4) {
  top: 26px;
}
nav .navigatia .menu .menu__links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  list-style: none;
  padding-left: 20px;
}
nav .navigatia .menu .menu__links a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: .85em;
  display: inline-block;
  line-height: 30px;
  padding: 0 10px;
}
nav .navigatia .menu .menu__links a:hover {
  text-decoration: underline;
}
nav .navigatia .menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
nav .navigatia .menu_state_open .menu__icon span:nth-child(2) {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}
nav .navigatia .menu_state_open .menu__icon span:nth-child(3) {
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}
nav .navigatia .menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
nav .navigatia .menu_state_open .menu__links {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 50vh;
}
nav .navigatia .nav-right ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: end;
      justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  padding-right: 20px;
  height: 30px;
  -ms-flex-align: center;
      align-items: center;
}
nav .navigatia .nav-right ul li {
  margin: 5px 10px;
  text-transform: uppercase;
}
nav .navigatia .nav-right ul li a {
  text-decoration: none;
  color: white;
  font-size: .85em;
  display: -ms-flexbox;
  display: flex;
}
nav .navigatia .nav-right ul li a:hover {
  text-decoration: underline;
}
nav .navigatia .nav-right ul li a img {
  margin-right: 10px;
  width: 12px;
}
nav .navigatia .nav-right ul li input {
  background: url("../img/search.svg") 97% center no-repeat white;
  background-size: 12px;
  padding: 5px;
}
.logo {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: justify;
      justify-content: space-between;
  z-index: 9;
  top: 0;
}
.logo img {
  width: 320px;
  height: 100%;
}
.logo .info-prezent .lista {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  list-style: none;
  height: 35px;
  margin: 0;
}
.logo .info-prezent .lista li {
  width: 20%;
  height: 25px;
  padding: 5px;
  text-align: center;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background-color: #e42c35;
}
.logo .info-prezent .lista li .dropdown {
  position: relative;
  display: inline-block;
}
.logo .info-prezent .lista li .dropdown:hover .dropdown-content {
  display: block;
}
.logo .info-prezent .lista li .dropdown .dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  background: url("../img/down.png") 99% center no-repeat transparent;
}
.logo .info-prezent .lista li .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(228, 44, 53, 0.8);
  min-width: 100%;
  z-index: 1;
}
.logo .info-prezent .lista li .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.logo .info-prezent .lista li .dropdown .dropdown-content a:hover {
  background-color: #f1f1f1;
}
.logo .info-prezent .akcjii {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 30px;
  margin: 0;
  padding-right: 10px;
  list-style: none;
  background-color: white;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 10px;
}
.logo .info-prezent .akcjii li {
  padding: 5px 10px;
}
.logo .info-prezent .akcjii li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.logo .info-prezent .akcjii li:nth-last-child(1) {
  font-weight: 700;
}
.logo .info-prezent .bilet {
  color: white;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.logo .info-prezent .bilet p {
  padding: 10px;
  font-size: 1em;
  margin: 0;
  background-color: #e42c35;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.logo .info-prezent .bilet p:before {
  margin-right: 20px;
  width: 10px;
  content: url("../img/bilety.svg");
}
.wyszukiwanie {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 75px;
  left: 75px;
  z-index: 8;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.wyszukiwanie > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
}
.wyszukiwanie > div h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}
.wyszukiwanie > div h1 span {
  font-weight: 700;
}
.wyszukiwanie > div .wyszukiwanie-sekcii {
  width: 50%;
  background-color: #e42c35;
  padding: 15px 20px;
  margin-bottom: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.wyszukiwanie > div .wyszukiwanie-sekcii select {
  padding: 10px;
  margin: 0 5px;
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: button;
  cursor: pointer;
  background: url("../img/dropdown-czerwone.png") 97% center no-repeat white;
}
.wyszukiwanie > div .szukaj {
  background-color: #e42c35;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.background-menu {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -190px;
  z-index: 0;
}
.background-menu #block-for-slider {
  width: 100%;
  margin: 0 auto;
}
.background-menu #block-for-slider #viewport {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}
.background-menu #block-for-slider #viewport #slidewrapper {
  position: relative;
  width: calc(400%);
  transition: 1s;
  margin: 0;
  padding: 0;
}
.background-menu #block-for-slider #viewport #slidewrapper ul {
  margin: 0;
  padding: 0;
}
.background-menu #block-for-slider #viewport #slidewrapper ul li {
  margin: 0;
  padding: 0;
}
.background-menu #block-for-slider #viewport #slidewrapper .slide {
  width: calc(25%);
  list-style: none;
  display: inline;
  float: left;
  height: 100vh;
}
.background-menu #block-for-slider #viewport #slidewrapper .slide .slide-img {
  height: 145%;
}
.background-menu #block-for-slider #viewport #prev-btn,
.background-menu #block-for-slider #viewport #next-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  margin-top: -25px;
  z-index: 1050;
  background-color: transparent;
}
.background-menu #block-for-slider #viewport #prev-btn {
  left: 20px;
}
.background-menu #block-for-slider #viewport #prev-btn:hover {
  cursor: pointer;
}
.background-menu #block-for-slider #viewport #next-btn {
  right: 20px;
}
#prev-btn,
#next-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  top: calc(25%);
}
#prev-btn:hover,
#next-btn:hover {
  cursor: pointer;
}
.kategorii {
  text-align: center;
  border-bottom: 1px solid #eeeeee;
}
.kategorii h2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.kategorii .info-kategorii {
  padding: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.kategorii .info-kategorii .on {
  height: 400px;
  width: 25%;
  margin: 10px;
  background-image: url('../img/Dla_niego.png');
  background-size: cover;
  cursor: pointer;
}
.kategorii .info-kategorii .on p {
  position: relative;
  background-color: red;
  top: 70%;
  left: 46%;
  right: 0;
  width: 50%;
  font-size: 2em;
  color: white;
  padding: 2%;
  text-transform: uppercase;
}
.kategorii .info-kategorii .ona {
  width: 25%;
  margin: 10px;
  background-image: url('../img/dla_niej.png');
  background-size: cover;
  cursor: pointer;
}
.kategorii .info-kategorii .ona p {
  position: relative;
  /* bottom: 0px; */
  background-color: red;
  top: 70%;
  left: 46%;
  right: 0;
  width: 50%;
  font-size: 2em;
  color: white;
  padding: 2%;
  text-transform: uppercase;
  text-align: left;
}
.kategorii .info-kategorii .inne {
  height: 400px;
  width: 50%;
  margin: 10px 10px 10px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.kategorii .info-kategorii .inne .itmes {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 47%;
  cursor: pointer;
}
.kategorii .info-kategorii .inne .itmes p {
  position: relative;
  /* bottom: 0px; */
  background-color: red;
  top: 30%;
  left: 46%;
  right: 0;
  width: 50%;
  font-size: 2em;
  color: white;
  padding: 2%;
  text-transform: uppercase;
}
.kategorii .info-kategorii .inne .dzieci {
  margin-bottom: 5px;
  background-image: url('../img/dla_dzieci.png');
  background-size: cover;
}
.kategorii .info-kategorii .inne .hoobi {
  margin-bottom: 5px;
  background-image: url('../img/hobby.png');
  background-size: cover;
}
.kategorii .info-kategorii .inne .styl {
  margin-top: 5px;
  background-image: url('../img/styl.png');
  background-size: cover;
}
.kategorii .info-kategorii .inne .styl p {
  width: 60%;
  left: 36%;
}
.kategorii .info-kategorii .inne .adrenalina {
  margin-top: 5px;
  background-image: url('../img/adrenalin.png');
  background-size: cover;
}
.kategorii .info-kategorii .inne .adrenalina p {
  width: 55%;
  left: 41%;
}
.bestselery {
  border-bottom: 1px solid #eeeeee;
}
.bestselery h2 {
  margin: 20px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.bestselery .bestseler-card {
  border-bottom: 1px solid #eeeeee;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 10px 20px 10px;
}
.bestselery .bestseler-card .card {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 14%;
  margin: 0 5px;
  border: 1px solid #dbdbdb;
  cursor: pointer;
}
.bestselery .bestseler-card .card .zdiecie {
  height: 145px;
  background-size: cover;
  background-position: center right;
}
.bestselery .bestseler-card .card .zdiecie p {
  display: none;
  margin: 0;
}
.bestselery .bestseler-card .card .zdiecie hr {
  display: none;
}
.bestselery .bestseler-card .card .zdiecie img {
  display: none;
}
.bestselery .bestseler-card .card .zdiecie:hover,
.bestselery .bestseler-card .card .zdiecie :focus,
.bestselery .bestseler-card .card .zdiecie :active {
  background-image: none;
  background-color: #e42c35;
  z-index: 10;
}
.bestselery .bestseler-card .card .zdiecie:hover p,
.bestselery .bestseler-card .card .zdiecie :focus p,
.bestselery .bestseler-card .card .zdiecie :active p {
  display: block;
  color: white;
  margin: 0 10px;
  padding: 10px 0;
  font-size: .8em;
  line-height: 1.5em;
  border-bottom: 1px solid white;
}
.bestselery .bestseler-card .card .zdiecie:hover img,
.bestselery .bestseler-card .card .zdiecie :focus img,
.bestselery .bestseler-card .card .zdiecie :active img {
  display: inline-block;
  padding: 10px 0;
  margin-left: 10px;
}
.bestselery .bestseler-card .card .card-info {
  padding: 5px 10px;
  text-transform: uppercase;
}
.bestselery .bestseler-card .card .card-info h5 {
  font-size: 1em;
  font-weight: bold;
  margin: 10px 0;
}
.bestselery .bestseler-card .card .card-info i {
  margin: 0;
  font-size: .8em;
  color: #c1c1c1;
}
.bestselery .bestseler-card .card .card-info p {
  margin-top: 3px;
  font-size: 1.1em;
  color: #e42c35;
  font-weight: 600;
}
.bestselery .bestseler-card .card-1 .zdiecie {
  background-image: url("../img/jazda.png");
}
.bestselery .bestseler-card .card-2 .zdiecie {
  background-image: url("../img/skok.png");
}
.bestselery .bestseler-card .card-3 .zdiecie {
  background-image: url("../img/gora.png");
}
.bestselery .bestseler-card .card-4 .zdiecie {
  background-image: url("../img/jazda.png");
}
.bestselery .bestseler-card .card-5 .zdiecie {
  background-image: url("../img/skok.png");
}
.bestselery .bestseler-card .card-6 .zdiecie {
  background-image: url("../img/gora.png");
}
.blog h2 {
  margin: 20px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.blog .blog-card {
  border-bottom: 1px solid #eeeeee;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 20px 10px 20px 10px;
}
.blog .blog-card .card {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 24%;
  margin: 0 5px;
  border: 1px solid #dbdbdb;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.blog .blog-card .card .zdiecie {
  height: 145px;
  background-size: cover;
  background-position: center;
}
.blog .blog-card .card .card-info {
  padding: 5px 10px;
  text-transform: uppercase;
}
.blog .blog-card .card .card-info h5 {
  font-size: 1em;
  margin: 10px 0;
  font-weight: 600;
}
.blog .blog-card .card .card-info p {
  margin-top: 3px;
  font-size: 1em;
  color: #e42c35;
  font-weight: 600;
  cursor: pointer;
}
.blog .blog-card .card-1 .zdiecie {
  background-image: url("../img/blog-1.png");
  background-position: -50px 0px;
}
.blog .blog-card .card-2 .zdiecie {
  background-image: url("../img/blog-2.png");
}
.blog .blog-card .card-3 .zdiecie {
  background-image: url("../img/blog-3.png");
}
.blog .blog-card .card-4 .zdiecie {
  background-image: url("../img/blog-4.png");
}
.faq {
  background-color: #eeeeee;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 10px;
}
.faq .block {
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: stretch;
      align-items: stretch;
}
.faq .block .block-info {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin: 15px 10px;
  width: 45%;
  background-color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.faq .block .block-info h4 {
  padding: 5px 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  color: #e42c35;
  margin: 5px 0 0 0;
}
.faq .block .block-info h4 img {
  margin-right: 10px;
}
.faq .block .block-info p {
  margin: 0;
  padding: 5px 10px;
  font-size: .9em;
}
.faq .block .block-info h5 {
  margin: 0;
  color: #e42c35;
  padding: 5px 10px;
  cursor: pointer;
}
.faq .faq-pytania {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin: 15px 10px;
  width: 50%;
  background-color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}
.faq .faq-pytania .pytania {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.faq .faq-pytania .pytania h2 {
  margin-bottom: 0;
}
.faq .faq-pytania .pytania > div {
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.faq .faq-pytania .pytania > div:nth-child(1) {
  margin: 0 10px 0 30px;
}
.faq .faq-pytania .pytania > div:nth-child(2) {
  margin: 0 30px 0 10px;
}
.faq .faq-pytania .pytania > div p {
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  background: url("../img/pytania-prawo.png") 99% center no-repeat;
  cursor: pointer;
}
.faq .faq-pytania .pytania > div p:nth-last-child(1) {
  border: none;
}
.faq .faq-pytania .pytania > div .open {
  background: url("../img/dropdown-czerwone.png") 99% center no-repeat;
}
.faq .faq-pytania button {
  border: none;
  border-radius: 0;
  background-color: #e42c35;
  color: white;
  padding: 10px 15px;
  font-weight: 600;
  font-size: .8em;
  text-transform: uppercase;
  margin: 20px auto;
}
.o_nas {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 30px;
}
.o_nas h2 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.o_nas p {
  width: 70%;
  margin: auto;
  text-align: justify;
}
.o_nas p span {
  font-weight: 600;
}
.wyglad-bileta {
  width: 100%;
  background: url("../img/bak-bilet.png");
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.wyglad-bileta > div {
  width: 70%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: stretch;
      align-items: stretch;
  margin: 75px auto;
}
.wyglad-bileta > div .bilet-info {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: 35%;
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.wyglad-bileta > div .bilet-info .tytul {
  width: 90%;
  height: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-left: 35px;
  text-transform: uppercase;
}
.wyglad-bileta > div .bilet-info .tytul h4 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
  font-weight: normal;
  line-height: .9em;
}
.wyglad-bileta > div .bilet-info .tytul h1 {
  margin: 0;
  color: #e42c35;
  font-size: 3em;
  line-height: .85em;
}
.wyglad-bileta > div .bilet-info p {
  width: 90%;
  margin-left: 35px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #e42c35;
  font-weight: 700;
  font-size: .8em;
  position: relative;
  top: 20%;
  cursor: pointer;
}
.wyglad-bileta > div .bilet-info p img {
  margin: 0 5px 0 10px;
  color: #e42c35;
  width: 25px;
}
.wyglad-bileta > div .bilet-info:after {
  position: relative;
  left: 53%;
  top: -45%;
  color: white;
  content: '►';
  font-size: 30px;
}
.wyglad-bileta > div .bilet-zdiecie {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 65%;
  background-size: cover;
}
.wyglad-bileta > div .bilet-zdiecie img {
  width: 100%;
}
.newst {
  width: 100%;
  background: url("../img/newst.png") 0% -20px no-repeat #e42c35;
  background-size: 10%;
}
.newst > div {
  width: 70%;
  height: inherit;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: stretch;
      align-items: stretch;
}
.newst > div .zapisz {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.newst > div .zapisz h3 {
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}
.newst > div .zapisz .dane {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: stretch;
      align-items: stretch;
}
.newst > div .zapisz .dane input {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 35%;
  height: 25px;
  border: none;
}
.newst > div .zapisz .dane button {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  padding: 1px;
  width: 22%;
  height: 27px;
  background: transparent;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
}
.newst > div .zapisz p {
  color: white;
  font-size: .8em;
  margin: 25px 0;
}
.newst > div .zapisz p a {
  color: white;
}
.newst > div .dlaczego {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 40%;
}
.newst > div .dlaczego h3 {
  width: 80%;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}
.newst > div .dlaczego ul {
  list-style: none;
  padding: 0;
  color: white;
}
.newst > div .dlaczego ul li {
  margin: 5px 0;
  background: url("../img/ok.png") 0% center no-repeat;
  background-size: 1em;
  padding-left: 15px;
  font-size: .8em;
}
footer {
  width: 100%;
  background: url('../img/footer.png') center right no-repeat;
  background-size: cover;
}
footer > div {
  width: 70%;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
footer > div .navigatia {
  padding-top: 20px;
  position: relative;
  top: 0;
  z-index: 100;
  color: white;
}
footer > div .navigatia ul {
  padding: 10px 0 20px 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}
footer > div .navigatia ul li {
  text-align: center;
  padding: 5px 15px;
  text-transform: uppercase;
  border-right: 1px solid #3b3b3b;
}
footer > div .navigatia ul li:nth-last-child(1) {
  border: none;
}
footer > div .navigatia ul li a {
  text-decoration: none;
  color: white;
}
footer > div .navigatia ul .active a {
  color: #e42c35;
}
footer > div .uslugi {
  padding: 40px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #3b3b3b;
  border-bottom: 1px solid #3b3b3b;
}
footer > div .uslugi > div h3 {
  text-transform: uppercase;
  color: #e42c35;
}
footer > div .uslugi > div ul {
  list-style: none;
  padding: 0;
}
footer > div .uslugi > div ul li {
  margin: 10px 0;
}
footer > div .uslugi > div ul li a {
  text-decoration: none;
  color: white;
}
footer > div .uslugi > div ul .active a {
  color: #e42c35;
}
footer > div .kontakt {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #3b3b3b;
}
footer > div .kontakt h3 {
  color: #e42c35;
  font-weight: 600;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 20px;
}
footer > div .kontakt > div {
  width: 25%;
  padding: 0 10px 0 15px;
  color: white;
  border-left: 1px solid #3b3b3b;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
footer > div .kontakt > div p {
  padding-left: 20px;
  font-weight: 300;
}
footer > div .kontakt > div p span {
  font-weight: 600;
}
footer > div .social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 20px 0 50px 0;
}
footer > div .social > div {
  margin-left: 10px;
}
footer > div .social > div img {
  margin: 0 5px;
}
@media (min-width: 768px) {
  .slide-img {
    width: 100%;
    height: 145%;
  }
}
@media screen and (max-width: 1079px) {
  .menu {
    width: 80% !important;
  }
  .nav-right {
    height: 100vh;
    position: fixed;
    right: -100%;
    transition: right 1s ease-out;
    width: 30% !important;
    background-color: rgba(200, 200, 200, 0.8);
  }
  .nav-right ul {
    height: 25vh;
    -ms-flex-direction: column !important;
        flex-direction: column !important;
    margin: 0;
    -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    -ms-flex-align: center;
        align-items: center;
    left: inherit;
    position: relative;
    top: 50px;
  }
  .nav-right ul li {
    margin: auto;
  }
  .nav-right ul li a {
    font-size: 1em !important;
  }
  .nav-open {
    transition: right 1s ease-out;
    right: 0;
  }
  .logo {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-pack: justify;
        justify-content: space-between;
    top: 0;
  }
  .logo img {
    height: 100%;
  }
  .logo .info-prezent {
    display: none;
  }
  .wyszukiwanie {
    left: 0;
    right: 0;
  }
  .wyszukiwanie .wyszukiwanie-sekcii {
    width: 100%;
  }
  .background-menu #block-for-slider #viewport #prev-next-btns {
    display: none !important;
  }
  .kategorii .info-kategorii {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .kategorii .info-kategorii .on {
    margin: 10px 0;
    height: 600px;
    width: 47%;
  }
  .kategorii .info-kategorii .ona {
    margin: 10px 0;
    width: 47%;
  }
  .kategorii .info-kategorii .inne {
    margin: 0;
    height: auto;
    width: 100%;
  }
  .kategorii .info-kategorii .inne .itmes {
    height: 40vh;
  }
  .bestselery .bestseler-card .card {
    width: 30%;
    margin-top: 10px;
  }
  .bestselery .bestseler-card .card .zdiecie {
    height: 215px;
  }
  .blog .blog-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog .blog-card .card {
    width: 48%;
    margin-top: 10px;
  }
  .blog .blog-card .card .zdiecie {
    height: 215px;
  }
  .faq {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .faq .block {
    width: 100% !important;
  }
  .faq .faq-pytania {
    width: 100% !important;
  }
  .faq .faq-pytania p {
    padding: 0 10px;
    text-align: center;
  }
  .wyglad-bileta > div .bilet-info .tytul h4 {
    margin: 0 0 5px 0;
    font-size: 1em;
    font-weight: normal;
    line-height: .9em;
  }
  .wyglad-bileta > div .bilet-info .tytul h1 {
    margin: 0;
    color: #e42c35;
    font-size: 2em;
    line-height: .85em;
  }
  .newst > div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
  .newst > div .zapisz {
    width: 100% !important;
  }
  .newst > div .dlaczego {
    width: 100%;
  }
  footer > div .navigatia ul li {
    border-right: none;
  }
  footer > div .uslugi > div {
    width: 50%;
  }
  footer > div .kontakt {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  footer > div .kontakt > div {
    border: none;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .menu .menu__icon {
    display: inline-block !important;
  }
  .menu .menu__links {
    position: fixed;
    display: none !important;
    top: 110px;
    right: 0;
    left: 0;
    background-color: rgba(228, 44, 53, 0.8);
    overflow: auto;
  }
  .menu .menu__links a {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
    font-size: 1.2em !important;
  }
  .logo {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .wyszukiwanie {
    width: 100%;
  }
  .wyszukiwanie > div {
    position: relative;
    top: 80px;
    z-index: 9;
  }
  .wyszukiwanie > div h1 {
    margin: 10px;
    color: #e42c35;
  }
  .wyszukiwanie > div .wyszukiwanie-sekcii {
    -ms-flex-direction: column;
        flex-direction: column;
    background-color: transparent !important;
    margin-bottom: 10px;
  }
  .wyszukiwanie > div .wyszukiwanie-sekcii select {
    background-color: white !important;
  }
  .background-menu {
    margin-top: 0px;
  }
  .kategorii .info-kategorii {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .kategorii .info-kategorii .on {
    height: 400px;
    width: 47%;
  }
  .kategorii .info-kategorii .ona {
    height: 400px;
    width: 47%;
  }
  .kategorii .info-kategorii .inne {
    width: 100%;
  }
  .kategorii .info-kategorii .inne .itmes {
    height: 50vh;
  }
  .bestselery .bestseler-card .card {
    width: 47%;
  }
  .blog .blog-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog .blog-card .card {
    width: 60%;
    margin: 10px auto;
  }
  .blog .blog-card .card .zdiecie {
    height: 215px;
  }
  .wyglad-bileta > div {
    width: 90%;
  }
  .wyglad-bileta > div .bilet-info .tytul {
    width: 100% !important;
    margin-top: 10px;
    margin-left: 20px;
  }
  .wyglad-bileta > div .bilet-info .tytul h1 {
    margin: 0;
    color: #e42c35;
    font-size: 1.5em;
    line-height: .85em;
  }
  .wyglad-bileta > div .bilet-info p {
    top: 0;
    width: 100%;
    margin-left: 0;
  }
  .wyglad-bileta > div .bilet-info:after {
    font-size: 17px;
  }
}
@media only screen and (max-width: 560px) {
  .nav-right {
    width: 50% !important;
  }
  .wyszukiwanie .wyszukiwanie-sekcii select {
    width: 100% !important;
  }
  .kategorii .info-kategorii .on {
    height: 75vh;
    width: 100vw;
  }
  .kategorii .info-kategorii .on p {
    top: 50%;
  }
  .kategorii .info-kategorii .ona {
    height: 75vh;
    width: 100vw;
  }
  .kategorii .info-kategorii .ona p {
    top: 50%;
  }
  .kategorii .info-kategorii .inne {
    height: auto;
    width: 100%;
  }
  .kategorii .info-kategorii .inne .itmes {
    width: 100vw;
    height: 50vh;
  }
  .bestselery .bestseler-card .card {
    width: 70%;
    margin: 5px auto;
  }
  .blog .blog-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog .blog-card .card {
    width: 80%;
    margin: 10px auto;
  }
  .blog .blog-card .card .zdiecie {
    height: 215px;
  }
  .faq {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .faq .block .block-info {
    width: 70%;
    margin: 10px auto;
  }
  .faq .faq-pytania {
    margin: 15px 10px;
  }
  .faq .faq-pytania .pytania {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .faq .faq-pytania .pytania > div {
    width: 100%;
    margin: 0 15px !important;
  }
  .faq .faq-pytania .pytania > div p {
    border-bottom: 1px solid #dbdbdb !important;
  }
  .faq .faq-pytania .pytania > div:nth-last-child(1) p:nth-last-child(1) {
    border: none !important;
  }
  .wyglad-bileta > div {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 90%;
  }
  .wyglad-bileta > div .bilet-info {
    width: 100%;
  }
  .wyglad-bileta > div .bilet-info .tytul {
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .wyglad-bileta > div .bilet-info p {
    top: 0;
    width: 100%;
    -ms-flex-pack: end;
        justify-content: flex-end;
    margin: 0;
    right: 10px;
  }
  .wyglad-bileta > div .bilet-info:after {
    content: '▼' !important;
    font-size: 17px;
    top: 17px;
    left: 0;
  }
  .wyglad-bileta > div .bilet-zdiecie {
    width: 100%;
  }
  .newst > div .zapisz .dane {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .newst > div .zapisz .dane input {
    margin: 5px 0;
    width: 100%;
  }
  .newst > div .zapisz .dane button {
    margin: 5px 0;
    width: 50%;
  }
  footer > div .uslugi > div {
    width: 100%;
  }
  footer > div .social > div {
    margin-left: 0;
  }
  footer > div .social > div img {
    margin: 0 3px;
  }
}
