@czerwony: #e42c35;
@czerwony-rgba: rgba(228, 44, 53, 0.8);

body {
  background: white;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

nav {
  position: relative;
  z-index: 10;
  .navigatia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .menu {
      .menu__icon {
        display: none;
        width: 45px;
        height: 35px;
        position: fixed;
        top: 15px;
        left: 5px;
        cursor: pointer;
        span {
          display: block;
          position: absolute;
          height: 9px;
          width: 100%;
          background: @czerwony;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: .25s ease-in-out;
          &:nth-child(1) {
            top: 0;
          }

          &:nth-child(2), &:nth-child(3) {
            top: 13px;
          }

          &:nth-child(4) {
            top: 26px;
          }

        }
      }
      .menu__links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style: none;
        padding-left: 20px;
        a {
          text-transform: uppercase;
          text-decoration: none;
          color: white;
          font-size: .85em;
          display: inline-block;
          line-height: 30px;
          padding: 0 10px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .menu_state_open {
      .menu__icon {
        span {
          &:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
          }
          &:nth-child(2) {
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
          }
          &:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
          }
        }
      }
      .menu__links {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50vh;
      }
    }
    .nav-right {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        padding-left: 0;
        padding-right: 20px;
        height: 30px;
        align-items: center;
        li {
          margin: 5px 10px;
          text-transform: uppercase;
          a {
            text-decoration: none;
            color: white;
            font-size: .85em;
            display: flex;
            &:hover {
              text-decoration: underline;
            }
            img {
              margin-right: 10px;
              width: 12px;
            }
          }
        }
      }
    }
  }
}

.logo {
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 1;
  top: 0;
  img {
    width: 320px;
    height: 100%;
  }
  .info-prezent {
    .lista {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      height: 45px;
      margin: 0;
      li {
        height: 35px;
        padding: 5px;
        text-align: center;
        margin: 0;
        display: flex;
        align-items: center;
        background-color: @czerwony;
        .dropdown {
          position: relative;
          display: inline-block;
          &:hover {
            .dropdown-content {
              display: block;
            }
          }
          .dropbtn {
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            background-color: transparent;
            color: white;
            text-transform: uppercase;
            &:after {
              margin-left: 5px;
              content: url("./../img/down.svg");
            }
          }
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: @czerwony-rgba;
            min-width: 100%;
            z-index: 1;
            a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              &:hover {
                background-color: #f1f1f1
              }
            }
          }
        }
      }
    }
    .akcjii {
      display: flex;
      justify-content: space-between;
      height: 20px;
      margin: 0;
      padding-right: 20px;
      list-style: none;
      background-color: white;
      align-items: center;
      li {
        a {
          text-decoration: none;
          color: black;
          text-transform: uppercase;
        }
        &:nth-last-child(1) {
          font-weight: 700;
        }
      }
    }
    .bilet {
      color: white;
      text-transform: uppercase;
      display: flex;
      justify-content: flex-end;
      p {
        padding: 10px;
        font-size: 1em;
        margin: 0;
        background-color: @czerwony;
        display: flex;
        align-items: center;
        &:before {
          margin-right: 20px;
          width: 10px;
          content: url("./../img/bilety.svg");
        }
      }
    }

  }
}

.wyszukiwanie {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 75px;
  left: 75px;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h1 {
      text-align: center;
      font-size: 3em;
      font-weight: 300;
      color: white;
      margin: 30px 0 0 0 ;
      text-transform: uppercase;
      span {
        font-weight: 700;
      }
    }
    .wyszukiwanie-sekcii {
      width: 100%;
      background-color: @czerwony;
      padding: 15px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      .dropdown {
        position: relative;
        display: inline-block;
        &:hover {
          .dropdown-content {
            display: block;
          }
        }
        .dropbtn {
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
          background-color: white;
          color: black;
          text-transform: uppercase;
          &:after {
            margin-left: 5px;
            content: url("./../img/down.svg");
          }
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: @czerwony-rgba;
          min-width: 100%;
          z-index: 1;
          a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            &:hover {
              background-color: #f1f1f1
            }
          }
        }
      }

    }

    .szukaj {
      background-color: @czerwony;
      color: white;
      font-size: 1.2em;
      text-transform: uppercase;
      padding: 10px 20px;
      border: none;
    }
  }
}

.background-menu {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  margin-top: -190px;
  z-index: 0;

  #block-for-slider {
    width: 100%;
    margin: 0 auto;

    #viewport {
      width: 100%;
      position: relative;
      overflow: hidden;
      user-select: none;
      text-align: center;

      #slidewrapper {
        position: relative;
        width: calc(100% * 4);
        transition: 1s;
        margin: 0;
        padding: 0;
        ul {
          margin: 0;
          padding: 0;
          li {
            margin: 0;
            padding: 0;
          }
        }
        .slide {
          width: calc(100% / 4);
          list-style: none;
          display: inline;
          float: left;
          height: 100vh;
          .slide-img {
            height: 145%;
          }
        }
      }
      #prev-btn, #next-btn {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 50%;
        margin-top: -25px;
        z-index: 1050;
        background-color: transparent;
      }

      #prev-btn {
        left: 20px;
        &:hover {
          cursor: pointer;
        }
      }

      #next-btn {
        right: 20px;
      }
    }
  }
}

#prev-btn, #next-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
  cursor: pointer;
}

.kategorii {
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  h2 {
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
  }
  .info-kategorii {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    .on {
      height: 400px;
      width: 25%;
      margin: 10px;
      background-image: url('./../img/Dla_niego.png');
      background-size: cover;
      p {
        position: relative;
        background-color: red;
        top: 70%;
        left: 46%;
        right: 0;
        width: 50%;
        font-size: 2em;
        color: white;
        padding: 2%;
        text-transform: uppercase;
      }
    }
    .ona {
      width: 25%;
      margin: 10px;
      background-image: url('./../img/dla_niej.png');
      background-size: cover;
      p {
        position: relative;
        /* bottom: 0px; */
        background-color: red;
        top: 70%;
        left: 46%;
        right: 0;
        width: 50%;
        font-size: 2em;
        color: white;
        padding: 2%;
        text-transform: uppercase;
        text-align: left;

      }
    }
    .inne {
      height: 400px;
      width: 50%;
      margin: 10px 10px 10px 0;
      display: flex;
      align-items: stretch;
      justify-content: space-around;
      flex-wrap: wrap;
      .itmes {
        align-self: stretch;
        width: 47%;
        p {
          position: relative;
          /* bottom: 0px; */
          background-color: red;
          top: 30%;
          left: 46%;
          right: 0;
          width: 50%;
          font-size: 2em;
          color: white;
          padding: 2%;
          text-transform: uppercase;
        }
      }
      .dzieci {
        margin-bottom: 5px;
        background-image: url('./../img/dla_dzieci.png');
        background-size: cover;
      }
      .hoobi {
        margin-bottom: 5px;
        background-image: url('./../img/hobby.png');
        background-size: cover;
      }
      .styl {
        margin-top: 5px;
        background-image: url('./../img/styl.png');
        background-size: cover;
        p {

          width: 60%;
          left: 36%;
        }
      }
      .adrenalina {
        margin-top: 5px;
        background-image: url('./../img/adrenalin.png');
        background-size: cover;
        p {
          width: 55%;
          left: 41%;
        }
      }
    }
  }
}

.bestselery {
  border-bottom: 1px solid #eeeeee;
  h2 {
    margin: 20px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }
  .bestseler-card {
    border-bottom: 1px solid #eeeeee;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 10px 20px 10px;
    .card {
      align-self: stretch;
      width: 14%;
      margin: 0 5px;
      border: 1px solid #dbdbdb;
      .zdiecie {
        height: 145px;
        background-size: cover;
        background-position: center right;
        p {
          display: none;
          margin: 0;
        }
        hr {
          display: none;
        }
        img {
          display: none;
        }
        &:hover, :focus, :active {
          background-image: none;
          background-color: #e42c35;
          z-index: 10;
          p {
            display: block;
            color: white;
            margin: 0 10px;
            padding: 10px 0;
            font-size: .8em;
            line-height: 1.5em;
            border-bottom: 1px solid white;
          }
          img {
            display: inline-block;
            padding: 10px 0;
            margin-left: 10px;
          }
        }
      }
      .card-info {
        padding: 5px 10px;
        text-transform: uppercase;
        h5 {
          font-size: 1em;
          font-weight: bold;
          margin: 10px 0;
        }
        i {
          margin: 0;
          font-size: .8em;
          color: #c1c1c1;
        }
        p {
          margin-top: 3px;
          font-size: 1.1em;
          color: #e42c35;
          font-weight: 600;
        }

      }

    }
    .card-1 {
      .zdiecie {
        background-image: url("./../img/jazda.png");
      }
    }
    .card-2 {
      .zdiecie {
        background-image: url("./../img/skok.png");

      }
    }
    .card-3 {
      .zdiecie {
        background-image: url("./../img/gora.png");

      }
    }
    .card-4 {
      .zdiecie {
        background-image: url("./../img/jazda.png");

      }
    }
    .card-5 {
      .zdiecie {
        background-image: url("./../img/skok.png");

      }
    }
    .card-6 {
      .zdiecie {
        background-image: url("./../img/jazda.png");
      }
    }
  }
}

@media (min-width: 560px) {
  .slide-img {
    width: 100%;
    height: 145%;
  }
}

@media screen and (max-width: 1079px) {

  .menu {
    width: 80% !important;
  }

  .nav-right {
    height: 100vh;
    position: fixed;
    z-index: 12;
    right: -100%;
    transition: right 1s ease-out;
    width: 30% !important;
    background-color: rgba(200, 200, 200, .8);
    ul {
      height: 25vh;
      flex-direction: column !important;
      margin: 0;
      justify-content: space-between !important;
      align-items: center;
      left: inherit;
      position: relative;
      top: 50px;
      li {
        margin: auto;
        a {
          font-size: 1em !important;
        }
      }

    }
  }

  .nav-open {
    transition: right 1s ease-out;
    right: 0;
  }

  .logo {
    display: flex;
    position: relative;
    justify-content: space-between;
    z-index: 1;
    top: 0;
    img {
      height: 100%;
    }
    .info-prezent {
      display: none;
    }
  }

  .background-menu {
    #block-for-slider {
      #viewport {
        .slide-img {
          //width: 100%;
        }
        #prev-next-btns {
          display: none !important;
        }
      }
    }
  }

  .kategorii {
    .info-kategorii {
      flex-wrap: wrap;
      .on {
        margin: 10px 0;
        height: 600px;
        width: 47%;
      }
      .ona {

        margin: 10px 0;
        width: 47%;
      }
      .inne {
        margin: 0;
        height: auto;
        width: 100%;
        .itmes {
          height: 40vh;
        }
      }
    }
  }

  .bestselery {
    .bestseler-card {
      .card {
        width: 30%;
        margin-top: 10px;
        .zdiecie {
          height: 215px
        }
      }
    }
  }
}

@media (max-width: 768px) {

  .menu {
    .menu__icon {
      display: inline-block !important;
    }
    .menu__links {
      position: fixed;
      display: none !important;
      top: 0;
      right: 0;
      left: 0;
      margin-top: 52px;
      background-color: @czerwony-rgba;
      z-index: 1000;
      overflow: auto;

      a {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #ffffff;
        font-size: 1.2em !important;
      }
    }
  }

  .logo {
    top: 75px;
  }

  .background-menu {
    margin-top: -87px;
  }

  .kategorii {

    .info-kategorii {
      flex-wrap: wrap;
      .on {
        height: 400px;
        width: 47%;
      }
      .ona {
        height: 400px;
        width: 47%;
      }
      .inne {
        width: 100%;
        .itmes {
          height: 50vh;
        }
      }
    }
  }

  .bestselery {
    .bestseler-card {
      .card {
        width: 47%;
      }
    }
  }
}

@media only screen and(max-width: 560px) {

  .nav-right {
    width: 50% !important;
  }

  .kategorii {
    .info-kategorii {
      .on {
        height: 75vh;
        width: 100vw;
        p {
          top: 50%;
        }
      }
      .ona {
        height: 75vh;
        width: 100vw;
        p {
          top: 50%;
        }
      }
      .inne {
        height: auto;
        width: 100%;
        .itmes {
          width: 100vw;
          height: 50vh;
        }
      }
    }
  }

  .bestselery {
    .bestseler-card {
      .card {
        width: 70%;
        margin: auto;
      }
    }
  }
}